@media (min-width: 768px) and (max-width: 1023px) {
	.place-item {
		width: 234.66px;
	}
}

@media (max-width: 740px) {
	#header {
		overflow: hidden;		
	}
	
	.nav-menu li {
		display: block;
	}

	.search-btn {
		display: none;
	}

	.mobile-menu-bar {
		display: inline-block;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}
	.mobile-menu-bar:hover i {
		background-color: #ccc;
		color: #000;
	}

	#nav {
		display: block;
		position: relative;
	}

	.main-nav {
		display: block;
	}

	.nav-menu .sub-nav {
		position: initial;
		background-color: #000;
	}

	.sub-nav li a {
		color : #fff;
		padding: 6px 32px;
	}

	.main-nav > li:first-child {
		display: inline-block;
	}

	.team-members {
		flex-direction: column;
		padding-bottom: 16px;
	}

	.tour-places {
		flex-direction: column;
	}

	.place-item {
		width: 100%;
	}

	.contact-info {
		flex-direction: column;
	}

	.main-info {
		margin-bottom: 6px;
	}

	.name-email {
		flex-direction: column;
	}
}