* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

.font-white {
    color: #fff;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    padding: 0px 24px;
}

#nav li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.subnav li a {
    color: #000;
    line-height: 38px;
    min-width: 160px;
    padding: 0px 16px;
}

#nav  > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#header .search-btn {
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0px 24px;
    font-size: 14px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .slider-content {
    color: #fff;
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

#slider .content-heading {
    font-size: 24px;
    font-weight: 400;
}

#slider .content-description {
    font-size: 15px;
    margin-top: 25px;
    font-weight: 500;
}

#content .content-section {
    width: 800px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-subheading {
    margin: 25px 0 20px 0;
    font-style: italic;
    opacity: 0.6;
    font-size: 15px ;
}

.section-heading, .section-subheading {
    text-align: center;
}

#content .about-text {
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

#content .members-list {
    margin-top: 57px;
    display: flex;
    justify-content: space-around;
}

#content .members-list .member-item {
    display: inline-block;
    text-align: center;
}

#content .member-name {
    margin-bottom: 15px;
}

#content .member-img {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.tour-section .ticket-list {
    background-color: #fff;
    margin: 0px 16px;
}

.tour-section .ticket-list li {
    padding: 8px 16px;
    font-size: 15px;
    line-height: 22px;
    color: #757575;
    list-style: none;
    border: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 7px;

    color: #fff;
}

.ticket-list .ticket-remain {
    float: right;
    width: 25px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: -1px;
}

.tour-section .tour-places {
    padding: 32px 0 47px 0;
    display: flex;
    justify-content: space-evenly;
}

.tour-places .place-item {
    background-color: #fff;
}

.tour-places .place-item .place-description {
    width: 245px;
    padding: 0px 16px;
}

.tour-places .place-img {
    width: 245px;
}

.tour-places .place-content {
    line-height: 1.4;
}

.tour-places .place-img:hover {
    opacity: 0.6;
}

.tour-places .place-item .date {
    opacity: 0.6;
}

.tour-places .place-item .place-name,
.tour-places .place-item .date,
.tour-places .place-item .place-content {
    margin: 15px 0;
    font-size: 15px;
}

.tour-places .place-item .buy-ticket {
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    line-height: 22px;
    border: none;
    cursor: pointer;
}

.tour-places .place-item .buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

.contact-body {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

.contact-infor {
    flex: 1;
}

.contact-form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-icon {
    min-width: 32px;
}

.contact-infor {
    font-size: 18px;
    line-height: 28px;
}

.form-infor {
    margin: 10px 0;
    width: 400px !important;
}

.mem1 {
    margin-right: 27px;
}

.contact-form .user-info {
    width: 184px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 8px;
}

.submit-form .send-btn {
    height: 38px;
    width: 72px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 16px;
    background-color: #000;
    border: none;
    cursor: pointer;
    float: right;
}

.submit-form .send-btn:hover {
    color: #000;
    background-color: #ccc;
}

#footer img {
    width: 100%;
}

#footer .footer-contact {
    padding: 64px 16px;
    text-align: center;
    /* font-size: 24px; */
    background-color: #f1f1f1;
}

#footer .footer-container {
    font-size: 23px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.author {
    margin-bottom: 18px;
    font-size: 15px;
    opacity: 0.6;
}

.author a{
    color: #000;
}

