* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: Helvetica, Arial, sans-serif;
	scroll-behavior: smooth;
}

/* Common properties */
.flex-layout {
	display: flex;
}

.box-content-layout {
	width: 800px;
	padding: 64px 16px;
	margin-left: auto;
	margin-right: auto;
}

.btn-layout {
	padding: 8px 16px;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 15px;
	line-height: 22px;
}

.btn-layout:hover {
	color: #000;
	background-color: #ccc;
	cursor: pointer;
}

#header {
	height: 46px;
	background-color: #000;
	position: fixed;	
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	justify-content: space-between;
}

.nav-menu {
	justify-content: space-between;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu .main-nav > li > a {
	text-transform: uppercase;
	color: #fff;
	padding: 0 24px;
	line-height: 46px;
}

.nav-menu li:hover > a {
	color: #000;
	background-color: #ccc;
}

.nav-menu li:hover .sub-nav {
	display: block;
}

.nav-menu li a {
	text-decoration: none;
	font-size: 14.5px;
	display: block;
}

.nav-menu .sub-nav {
	display: none;
	position: absolute;
	background-color: #fff;
	color: #000;
	top: 100%;
	left: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sub-nav li {
	display: block;
}

.sub-nav li a {
	display: block;
	color: #000;
	min-width: 160px;
	padding: 0px 16px;
	line-height: 38px;
	font-size: 15px;
}

.search-btn {
	color: #fff;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #f44336;
}

.search-btn i {
	line-height: 46px;
	padding: 0px 24px;
	font-size: 15px;
}

/* Slider */
#slider {
	margin-top: 46px;
	position: relative;
}

#slider img {
	width: 100%;
}

#slider .slider-content {
	position: absolute;
	bottom: 10px;
	color: #fff;
	padding: 32px 16px;
	text-align: center;
	width: 100%;
	margin-bottom: 8px;
}

.slider-content h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	margin: 18px 0;
}

.slider-content p {
	font-size: 15px;
}

/* Body */
.heading-content, .slogan {
	text-align: center;
}

.heading-content {
	letter-spacing: 4px;
	font-size: 30px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 45px;
	margin: 10px 0;
}

.slogan {
	font-size: 15px;
	opacity: 0.6;
	line-height: 22px;
	margin-top: 15px;
    margin-bottom: 32px;
	font-style: italic;
}

.content-description {
	text-align: justify;
	font-size: 15px;
	line-height: 22.5px;
	margin: 15px 0;
}

.team-members {
	justify-content: space-around;
	text-align: center;
	padding: 32px 0;
}

.member-avt {
	width: 154px;
	border-radius: 4px;
	margin: 0px 0px 16px;
}

.member-name {
	font-size: 15px;
	margin: 15px 0;
}

#tour {
	background-color: #000;
}

#tour .box-content-layout {
	color: #fff;
}

.tour-times {
	background-color: #fff;
	font-size: 15px;
}

.tour-times li {
	list-style: none;
	color: rgba(0, 0, 0, 0.6);
	line-height: 22px;
	padding: 8px 16px;
	border-bottom: 1px solid #ccc;
}

.tour-times .sold-out {
	padding: 3px 8px;
	margin-left: 16px;
	background-color: #f44336;
	color: #fff;
}

.tour-times .ticket-remain {
	margin-right: 16px;
	padding: 0 8px;
	color: #fff;
	background-color: #000;
	border-radius: 50%;
	float: right;
}

.tour-places {
	justify-content: space-between;
	padding: 32px 0;
}

.place-item {
	width: 245px;
	font-size: 15px;
	margin-bottom: 16px;
}

.place-item img {
	width: 100%;
	display: block;
}

.place-item img:hover {
	opacity: 0.6;
}

.place-info {
	background-color: #fff;
	color: #000;
	padding: 0.15px 16px;
}

.place-name {
	margin: 15px 0;
	line-height: 22px;
}

.place-date {
	opacity: 0.6;
	margin: 15px 0;
	line-height: 22px;
}

.place-detail {
	margin: 15px 0;
}

.place-info .buy-btn {
	margin-bottom: 15px;
}

.contact-info {
	padding: 32px 0;
}

.main-info {
	flex: 1;
}

.main-info p {
	margin: 10px 0;
	font-size: 18px;
}

.form-info {
	flex: 1;
}

.contact-icon {
	min-width: 30px;
	font-size: 16px;
}


.form-info input {
	padding: 8px;
	line-height: 22px;
	border: 1px solid #ccc;
	font-size: 15px;
}

.name-email {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.mess-form input{
	display: block;
	width: 100%;
}

.send-btn {
	float: right;
	margin: 16px 0;	
}

#footer img {
	width: 100%;
	display: block;
}

#footer .social-contact {
	padding: 73px 16px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

.social-icon {
	font-size: 24px;
	margin-bottom: 24px;
}

.social-icon i:hover {
	opacity: 0.6;
}

.copyright a {
	color: rgba(0, 0, 0, 0.6);
}