*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
    /* padding: 0px 24px; */
    list-style: none;
    position: relative;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    line-height: 23px;
    /* display: inline-block; */
    font-size: 15px;
    display: block;
}



#nav > li > a{
    text-transform: uppercase;
    line-height: 46px;
    padding: 0px 24px;
}

#nav .subnav  {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #ccc;
    left: 0px;
    top: 46px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subnav > li{
    padding: 8px 57px 8px 16px;
}

.subnav > li > a{
    color: #000;
}

#nav > li:hover {
    background-color: #ccc;
}

#nav > li:hover > a{
    color: black;
}

#nav > li:hover .arrow_down{
    color: #000;
}

#nav .arrow_down{
    font-size: 14px;
}

#nav > li:hover > .subnav{
    display: block;
    cursor: pointer;
}


.subnav > li:hover{
    background-color: #ccc;
}

#nav .fas{
    font-size: 14px;
    color: #fff;
}

#header .search-btn{
    float: right;
    position: relative;
    display: inline-block;
    height: 100%;
}

#header .search-icon{
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    height: 100%;
    line-height: 23px;
    font-size: 15px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    background-color: #ccc;
    margin-top: 46px;
}